body{
    
    background-color: #737373;
}
.thread /* thread */
{
    background-color: #ececec;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font: monospace;
    font-family: arial;
}
h5{
    font-size: 25px;
}
.board
{
    background-color: #737373;
}
.post-main
{
    background-color: #F0E0D6;
    border: none;
    width: 100%;
    font-size: 12px;
}

.post-form
{
     margin-right: auto;
     margin-left: auto;
}
.post-id
{
    color: green;
    font-size: 11px;
    width: 20%;
}
.post-time
{
    color: #616161;
    font-size: 11px;
    width: 20%;    
}
.post-name
{
    color: red;
    font-size: 11px;
    width: 50%;
}

input, textarea
{
    width: 227px;
    background-color: #b1b1b1
    border: none;
}


h1 { 
color: blue; 
}